@page {
  size: A4;
}
section {
  display: flex;
}
.main-left {
  height: 100%;
  flex: 1;
  background: #5dc3b1;
}
.main-left .touxiang {
  display: block;
  margin: 30px auto 0;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

h1 {
  color: #fff;
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  line-height: 2;
  border-bottom: 1px solid #248578;
  margin: 0 2%;
}

.main-left ul.info {
  margin: 0 2%;
  border-bottom: 1px solid #248578;
}

.main-left ul.info li {
  color: #1d7d71;
  font-size: 15px;
  margin: 15px 0;
  padding-left: 25px;
  background: url(../image/出生日期.png) no-repeat left center;
  background-size: 20px 20px;
}
.main-left ul.info li::before {
  content: attr(data-title) '：';
  color: #1d7d71;
  font-size: 14px;
}
.main-left ul.info li:nth-of-type(2) {
  background-image: url(../image/手机号码.png);
}
.main-left ul.info li:nth-of-type(3) {
  background-image: url(../image/邮箱.png);
}
.main-left ul.info li:nth-of-type(4) {
  background-image: url(../image/git.png);
}
.main-left ul.info li:nth-of-type(5) {
  background-image: url(../image/学校.png);
}
.main-left ul.info li:nth-of-type(6) {
  background-image: url(../image/时间.png);
}
.main-left ul.info li:nth-of-type(7) {
  background-image: url(../image/学历.png);
}

.evaluate {
  margin: 0 2%;
}
ul.evaluate li {
  color: #1d7d71;
  font-size: 15px;
  margin: 7px 0;
}
ul.evaluate li::before {
  content: attr(data-title) '：';
  color: #1d7d71;
  font-size: 14px;
}

.big-title {
  margin: 5% 25%;
  border-radius: 15px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  background: #e3e6ee;
  color: #468871;
}
ul.skill {
  margin: 15px 5% 0;
}
ul.skill li {
  margin: 10px 0;
  color: #fff;
  display: flex;
  align-items: center;
  font-size: 14px;
}
ul.skill li span {
  text-align: right;
  width: 33%;
}
ul.skill .all {
  margin-left: 7px;
  flex: 1;
  height: 13px;
  background-color: #3eb79f;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}
ul.skill .all .progress {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background: #fff;
}

ul.company {
  border-bottom: 1px solid #248578;
  margin: 0 2%;
  padding: 0 3% 3%;
}
ul.company .company-title {
  margin: 5% 0;
  font-size: 16px;
  color: #1d7d71;
  font-weight: bold;
}
ul.company .company-time {
  margin: 3% 0;
  font-size: 16px;
  color: #1d7d71;
}
ul.company .job-content {
  color: #1d7d71;
  font-size: 14px;
  line-height: 1.5;
}
.job-content span {
  font-size: 14px;
}

.gongsi-title {
  text-align: center;
  font-size: 16px;
}
.xiangmu-item {
  margin: 5%;
}
.xiangmu-title {
  font-size: 20px;
  color: #5dc3b1;
  font-weight: bold;
  margin: 5% 0;
}
.jishu {
  margin: 3% 0;
  display: flex;
  align-items: center;
  font-size: 14px;
}
.jishu-title {
  color: #5dc3b1;
}
.biaoqian {
  display: flex;
  align-items: center;
}
.biaoqian li {
  border-radius: 1px;
  border: 1px solid #d2d2d2;
  padding: 3px;
}
.tuanduidingwei {
  margin: 3% 0;
  font-size: 14px;
  line-height: 1.3;
}
.zhize {
  color: #5dc3b1;
}
.mianshu {
  color: #5dc3b1;
  font-size: 14px;
}
.xiangmu-mainshu {
  margin-top: 2%;
  font-size: 14px;
  line-height: 1.6;
}
.xiangmu-mainshu li {
  position: relative;
  padding-left: 15px;
}
.xiangmu-mainshu li::before {
  content: '';
  position: absolute;
  left: 1px;
  top: 9px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #5dc3b1;
  margin: 0 3px;
}

/* 简历内容 */
.main-right {
  flex: 2;
  background: #f1eee8;
  height: 100%;
}
