<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>发表留言</title>
    <link rel="stylesheet" href="/public/dist/css/bootstrap.css" />
  </head>
  <body>
    <div class="header container">
      <div class="page-hedader">
        <h1>
          <a href="/">首页</a>
          <small>发表评论</small>
        </h1>
      </div>
    </div>
    <div class="comments container">
      <form method="post" action="/post">
        <div class="form-group">
          <label for="input_name">
            你的大名
          </label>
          <input
            id="input_name"
            class="form-control"
            name="name"
            required
            type="test"
            minlength="2"
            maxlength="10"
            placeholder="请填写你的名字"
          />
        </div>
        <div class="form-group">
          <label for="textarea_message">
            留言内容
          </label>
          <textarea
            class="form-control"
            id="textarea_message"
            name="message"
            cols="30"
            rows="10"
          ></textarea>
        </div>

        <button type="submit" class="btn btn-default">发表</button>
      </form>
    </div>
  </body>
</html>
