<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="/public/dist/css/bootstrap.css" />
  </head>
  <body>
    <div class="header container">
      <div class="page-header">
        <h1>Ecample page header<small>Subtext for header</small></h1>
        <a href="post.html" class="btn btn-success">发表留言 </a>
      </div>
    </div>
    <ul>
      <li>1</li>
      <li>2</li>
    </ul>
  </body>
</html>
